/*
--------------------------------------------------------------
Dear Developer :
    you can change the variables here to see the effect,
    all size are calculated automatically and there is no harm.
---------------------------------------------------------------
*/

/* ================================= REMOTE CONTROLL ================================= */

$blue:#1496FF;
$green:#00CE7C;
$red: #c6405c;
$light-red:#f7a8b8;
$yellow:#FDC911;
$grey:#BDCADB;
$light-grey:#eff5fc;
$hoverBackground:#d4e3f4;
$black: #555;
$white:#ffffff;


$days-size: 50px;
$weekNames-fontsize:10px;

// input stuff
$border-radius:5px;
$input-height: 40px;
$input-padding: 5px;
$input-font-size: 14px;

// popover stuff
$popover-padding: 5px;
$margin-between-days:1px;
$month-year-fontsize:12px;
$button-fontsize:16px;
$days-fontsize:13px;
$border-aroundDays-size:1px;

%border-radius {
    -webkit-border-radius:$border-radius;
    -moz-border-radius:$border-radius;
    -o-border-radius:$border-radius;
    border-radius:$border-radius;
}

%no-border-radius {
    -webkit-border-radius:0;
    -moz-border-radius:0;
    -o-border-radius:0;
    border-radius:0;
}

/* ================================= END OF REMOTE CONTROLL ========================= */

.rn-calendar-wrapper {

    width: 100%;
    position: relative;
    margin: 0;
    padding: 0;
    z-index: 0;
    max-width: ($days-size * 7) + ($popover-padding * 2) + (($margin-between-days * 2) * 7);

    .rn-datepicker-input {

        width: 100%;
        outline: none;
        height: $input-height;
        display: inline-block;
        box-sizing: border-box;
        border: 1px solid $grey;
        padding: $input-padding;
        font-size: $input-font-size;
        line-height: ($input-height - ($input-padding * 2));
        @extend %border-radius;
    }
}

.rn-calendar {

    position: relative;
    float: left;
    width: 100%;
    z-index: 10000;
    background: $white;
    box-sizing: border-box;
    padding: $popover-padding;
    @extend %border-radius;
    box-shadow: 0 0 10px 1px #eaeaea;

    .rn-datepicker-header , .rn-datepicker-body ,.rn-datepicker-footer{
        
        width: 100%;
        float: left;
        margin: 0;
        padding: .5em 0;
    }
}

.rn-calendar .rn-datepicker-header {

    .actions {

        width: 100%;
        float: right;
        display: block;

        .rn-btn {

            @extend %border-radius;
            width: $days-size;
            height: $days-size;
            display: inline-block;
            background: none;
            color: $blue;
            font-weight: bold;
            font-size: $button-fontsize;
            border: none;
            outline: none;
            cursor: pointer;

            &:hover {
                background-color: $light-grey;
            }

            &.next-month {float: right;}
            &.prev-month {float: left}
        }

        .month-name , .year-name{
            color: $black;
            width: auto;
            height: $days-size;
            line-height: $days-size;
            font-size: $month-year-fontsize;
        }

        .month-name {float: right;margin-right: 3px;}
        .year-name {float: left;margin-left: 3px;}
    }

    .day-names {

        width: 100%;
        float: right;
        display: block;
        border-bottom: 1px solid $light-grey;

        .week_cell {

            float: right; 
            color: $black;
            width: $days-size;
            height: $days-size;
            line-height: $days-size;
            margin: $margin-between-days;
            font-size: $weekNames-fontsize;
        }
        
    }
}


.rn-calendar .rn-datepicker-body {
    
    .rn-days {

        color: $blue;
        float: right;
        width: $days-size;
        height:$days-size;
        text-align: center;
        line-height: $days-size;
        font-size: $days-fontsize;
        margin: $margin-between-days;
        cursor: pointer;
        @extend %border-radius;

        &:hover:not(.DISABLE) {
            background: $hoverBackground;
        }

        &.weekend {

            color: $red;
            &.PREV ,&.NEXT{color: $light-red}
        }

        &.selectedDay {

            background: $white;
            color: $blue;
            font-weight: bold;
            line-height:  ($days-size - $border-aroundDays-size);
            border: $border-aroundDays-size solid $blue;
            box-sizing: border-box;
            &:hover {background: $white;}
        }

        &.today {

            border: 1px solid $green;
            box-sizing: border-box;
            color: $green;

            &.selectedDay {
                color: $white;
                background: $green;
            }

            &:hover {

                background:$green;
                color: $white;
            }
        }

        &.startDate,&.endDate  {

            background: $white;
            color: $blue;
            font-weight: bold;
            border: $border-aroundDays-size solid $blue;
            line-height:  ($days-size - $border-aroundDays-size);
            box-sizing: border-box;
            &:hover {background: $white;}
        }

        &.range-select {

            @extend %no-border-radius;
            background: $blue !important;
            color: $white !important;

            &:hover {background: $blue;}
        }

        &.DISABLE {

            color: #ccc !important;
            cursor: default;
        }

        &.PREV ,&.NEXT {
            background: $light-grey;
        }
    }
}