
$Carnation_tint3:#FCB9C7;
$Red_Orange:#FF4438;
$Candlelight:#FDC911;
$Dodger_Blue:#1496FF;
$Caribbean_Green:#00CE7C;
$rockBlue: #95a3b4;
$shark:#646c9a;

$radius: 5px;
$day-size: 50px;
$padding:30px;

// max size right now is = 350 + 60 = 410px
.wrapper-rn-datepicker {

    display: block;
    margin: 0 auto;
    float: none;
    max-width: $day-size * 7 ; 

    .rn-datepicker {

        float: right;
        position: relative;
        width: ($day-size * 7 ) + ($padding * 2);
        margin: 0 auto;
        box-shadow: (0 0 5px 1px #cccccc);

        .rn-datepicker-header {
            
            width: 100%;
            float: right;
            margin-bottom: 10px;
            border-bottom: 1px solid #eaeaea;

            .week_cell {

                float: right;
                font-size: 11px;
                width: $day-size;
                text-align: center;
                display: inline-block;
            }

            .day-names {

                padding: 1em $padding 1em $padding;
                box-sizing: border-box;
                width: 100%;
                float: right;
            }
            
            .actions {

                width: 100%;
                float: right;
                padding: 10px $padding;
                box-sizing: border-box;
                line-height: $day-size / 2;
                text-align: center;

                .rn-btn {

                    float: right;
                    padding: 0;
                    border: none;
                    outline: none;
                    cursor: pointer;
                    font-weight: bold;
                    border-radius: 100%;
                    width: $day-size / 2;
                    height: $day-size / 2; 
                    line-height: $day-size / 2; 

                    -webkit-transition: all ease .3s;
                    -moz-transition: all ease .3s;
                    -o-transition: all ease .3s;
                    transition: all ease .3s;

                    &:hover {
                        background-color: #eaeaea;
                    }
                }

                .month-name {

                    display: inline-block;
                    margin: 0 5px;
                    min-width: $day-size;
                    font-weight: bold;
                    float: right;
                    font-size: 12px;
                    height: $day-size / 2; 
                    line-height: $day-size / 2;
                }

                .year-name {

                    float: left;
                    font-size: 13px;
                    font-weight: bold;
                    display: inline-block;
                    height: $day-size / 2;
                }

            }
        }

        .rn-datepicker-body {

            padding: 0 $padding;
            float: right;
            
            .rn-days {

                float: right;
                width: $day-size;
                height: $day-size;
                line-height: $day-size;
                margin: 2px 0 ;
                box-sizing: border-box;

                -webkit-border-radius: $radius;
                -moz-border-radius: $radius;
                -o-border-radius: $radius;
                border-radius: $radius;

                &.current-days {

                    cursor: pointer;
                    font-weight: bold;

                    &:hover {
                        color: $Dodger_Blue;
                        box-shadow: (0 0 3px 0 #cccccc);
                    }
                }

                &.prev-days , 
                &.next-days ,
                &.disabled {
                    color: $rockBlue;
                    &.weekend {
                        color: $Carnation_tint3;
                    }
                }

                &.weekend {
                    color: $Red_Orange;
                }

                &.range-select {

                    box-shadow: 0;
                    border-radius: 0;
                    background-color: $Dodger_Blue !important;
                    color: #fff !important;
                }

                &.selectedDay,&.startDate ,&.endDate {

                    color: $Dodger_Blue;
                    border: 2px solid $Dodger_Blue;
                    box-sizing: border-box;
                }

                &.startDate { border-radius: 0 $radius $radius 0 !important;}
                &.endDate { border-radius: $radius 0 0 $radius !important;}

                &.today:not(.selectedDay) {
                    line-height:  $day-size - 4px;
                    box-sizing: border-box;
                    border-radius:100%;
                    border: 2px solid $Caribbean_Green;
                    color: $Caribbean_Green;
                }
            }
        }

        .rn-datepicker-footer {

            float: right;
            display: block;
            width: 100%;

            .rn-input {

                &.hide { display: none }
                &.show { display: block }
            }
        }
    }

}